<!--=============== NAVBAR ===============-->
<header>
    <a asp-controller="Home" asp-action="Index" class="logo">
        <i class='bx bxs-movie'></i> MOVBOT
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <!--=============== MENU ===============-->
    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#movies">Films</a></li>
        <li><a href="#coming">Soon</a></li>
        <li><a href="#news">News</a></li>
    </ul>
    <a asp-controller="About" asp-action="Contact" class="btn">Contact</a>
</header>