<!--=============== SECTION NEWS ===============-->
<section class="news" id="news">
    <h2 class="heading">Latest Movie News</h2>
    <div class="news-container">
        <!-- Box 1 -->
        <div class="box">
            <div class="box-img">
                <img src="img/news1.jpg" alt="">
            </div>
            <h5>NEWS - TV SERIES</h5>
            <span>May 9 2022</span>
            <h3>"New Trailer From "House of the Dragon" Series Has Arrived!</h3>
        </div>

        <!-- Box 2 -->
        <div class="box">
            <div class="box-img">
                <img src="img/news2.jpg" alt="">
            </div>
            <h5>NEWS - ACTORS</h5>
            <span>May 7 2022</span>
            <h3>Sam Raimi Wants To Film A Sequel Of "Darkman" With Liam Neeson!</h3>
        </div>

        <!-- Box 3 -->
        <div class="box">
            <div class="box-img">
                <img src="img/news3.jpg" alt="">
            </div>
            <h5>NEWS - FILMS</h5>
            <span>May 6 2022</span>
            <h3>Marvel Cinematic Universe's Next 10 Years Planned!</h3>
        </div>

        <!-- Box 4 -->
        <div class="box">
            <div class="box-img">
                <img src="img/news4.jpg" alt="">
            </div>
            <h5>NEWS - SECRET CASES</h5>
            <span>May 4 2022</span>
            <h3>Ambitious Productions to be Released in the Summer of 2022</h3>
        </div>


        <!-- Box 5 -->
        <div class="box">
            <div class="box-img">
                <img src="img/news5.jpg" alt="">
            </div>
            <h5>NEWS - FILMS</h5>
            <span>May 2 2022</span>
            <h3>Full Title and Release Date of “Avatar 2” Movie Announced!</h3>
        </div>

        <!-- Box 6 -->
        <div class="box">
            <div class="box-img">
                <img src="img/news6.jpg" alt="">
            </div>
            <h5>NEWS - TV SERIES</h5>
            <span>May 2 2022</span>
            <h3>New Season Date and Trailer of Netflix's “Cobra Kai” Series Has Arrived!</h3>
        </div>

    </div>
