<!--=============== SECTION COMING ===============-->
<section class="coming" id="coming">
    <h2 class="heading">Coming Soon</h2>
    <!--Coming Container -->
    <div class="coming-container swiper">
        <div class="swiper-wrapper">
            <!-- Box 1 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="avatar-2.html"><img src="img/q2.jpg" alt=""></a>
                </div>
                <h3>Avatar: The Way of Water</h3>
                <span>Action, Science Fiction</span>
                <h6>8 July 2022</h6>
            </div>

            <!-- Box 2 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="thor.html"><img src="img/q1.jpg" alt=""></a>
                </div>
                <h3>Thor: Love and Thunder</h3>
                <span>Action, Adventure, Fantasy</span>
                <h6>8 July 2022</h6>
            </div>

            <!-- Box 3 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="the-wrong-place.html"><img src="img/q3.jpg" alt=""></a>
                </div>
                <h3>The Wrong Place</h3>
                <span>Thriller, Action</span>
                <h6>15 July 2022</h6>
            </div>

            <!-- Box 4 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="toronto.html"><img src="img/q4.jpg" alt=""></a>
                </div>
                <h3>The Man from Toronto</h3>
                <span>Action, Comedy, Thriller</span>
                <h6>Expected 2022</h6>
            </div>

            <!-- Box 5 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="black-adam.html"><img src="img/q5.jpg" alt=""></a>
                </div>
                <h3>Black Adam</h3>
                <span>Action, Fantasy, Sci-Fi</span>
                <h6>21 October 2022</h6>
            </div>

            <!-- Box 6 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="shazam.html"><img src="img/q6.jpg" alt=""></a>
                </div>
                <h3>Shazam! Fury of the Gods</h3>
                <span>Action, Adventure, Comedy</span>
                <h6>21 December 2022</h6>
            </div>

            <!-- Box 7 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="watcher.html"><img src="img/q7.jfif" alt=""></a>
                </div>
                <h3>Watcher</h3>
                <span>Drama, Horror, Thriller</span>
                <h6>22 Haziran 2022</h6>
            </div>

            <!-- Box 8 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="jurassic.html"><img src="img/q8.jpg" alt=""></a>
                </div>
                <h3>Jurassic World Dominion</h3>
                <span>Action, Adventure, Sci-Fi</span>
                <h6>10 June 2022</h6>
            </div>

            <!-- Box 9 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="fast-x.html"><img src="img/q9.jfif" alt=""></a>
                </div>
                <h3>Fast X</h3>
                <span>Action, Crime, Mystery</span>
                <h6>19 May 2023</h6>
            </div>

            <!-- Box 10 -->
            <div class="swiper-slide box">
                <div class="box-img">
                    <a href="john.html"><img src="img/q10.jpg" alt=""></a>
                </div>
                <h3>John Wick: Chapter 4</h3>
                <span>Action, Crime, Thriller</span>
                <h6>24 March 2023</h6>
            </div>

        </div>

    </div>
</section>