@model contact_info
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section contact
{

        <div class="support">
            <p><span>For detailed information:</span> <a href="mailto:support@movbot.com"> support@movbot.com</a></p>
        </div>

        <div class="editor-container conteditor">
            <div class="editor-box">
                <a target=_blank" href="https://www.linkedin.com/in/ridvanmsl/"><i class='linkedin bx bxl-linkedin'></i></a>
                <a target=_blank" href="https://twitter.com/ridvanmsl"><i class='twitter bx bxl-twitter'></i></a>
                <a target=_blank" href="https://www.instagram.com/ridvanmsl/"><i class='insta bx bxl-instagram'></i></a>

                <img src="~/img/ridvan.jpg" alt="">
                <h4>Rıdvan Musaoğlu</h4>
                <p>
                    <span>"</span>I have been working as an editor for 2 years. It's great to watch and comment on movies before anyone else does!<sub>"</sub>
                </p>
            </div>
            <div class="editor-box">
                <a target=_blank" href="https://www.linkedin.com"><i class='linkedin bx bxl-linkedin'></i></a>
                <a target=_blank" href="https://twitter.com"><i class='twitter bx bxl-twitter'></i></a>
                <a target=_blank" href="https://www.instagram.com/armanyaycii/"><i class='insta bx bxl-instagram'></i></a>

                <img src="~/img/arman.jpg" alt="">
                <h4>Arman Yaycı</h4>
                <p><span>"</span>At first, I wasn't sure I could do it, but as I wrote, I learned that this job was for me. This job is awesome!<sub>"</sub>

            </div>
            <div class="editor-box">
                <a target=_blank" href="https://www.linkedin.com/in/ahmet-eray-karada%C4%9F-722001234/"><i class='linkedin bx bxl-linkedin'></i></a>
                <a target=_blank" href="https://twitter.com"><i class='twitter bx bxl-twitter'></i></a>
                <a target=_blank" href="https://www.instagram.com"><i class='insta bx bxl-instagram'></i></a>

                <img src="~/img/eray.png" alt="">
                <h4>Ahmet Eray Karadağ</h4>
                <p><span>"</span>If you like watching and criticizing movies, you should definitely be an editor on this site. Wonderful!<sub>"</sub>

            </div>
        </div>
    

}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVBOT</title>
    <link rel="shortcut icon" href="img/movie-solid-24.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <section class="section-cta">

        <div class="cta">
            <div class="cta-text-box">
                <h2 class="heading-secondary">Do you want to work with us?</h2>
                <p class="cta-text">
                    Would you like to watch newly released movies the first and share your thoughts about the movie with other people? Apply now to be our editor.
                </p>

                <form class="cta-form" asp-controller="About" asp-action="Contact" method="post">

                    <div>
                        <label for="full_name">Full Name</label>
                        <input name="name" for="full_name" type="text" placeholder="Joshua" required>
                    </div>

                    <div>
                        <label for="email">E-mail</label>
                        <input for="email" id="email" type="email" placeholder="me@gmail.com" required>
                    </div>

                    <div>
                        <label for="experience">Do you have any working experience</label>
                        <select for="experience" required>
                            <option value="">Select:</option>
                            <option value="friends">Yes</option>
                            <option value="friends">No</option>
                        </select>
                    </div>

                    <button class="btn btn--form">Submit</button>

                    <!-- <input type="checkbox">
                    <input type="number"> -->
                </form>

            </div>
            <div class="cta-img-box" role="img" aria-label="Woman enjoying food"></div>
        </div>






    </section>

    <!-- JS -->
    <script src="/js/site.js"></script>
</body>
</html>